<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
  </head>
  <body>
      <h1><a href="/">home</a></h1>
      <h2>Title: {{item.title}}</h2>
      <div>Date: {{item.date}}</div>

      <form method="POST" action="/update">
        <input type="hidden" name="id" value="{{id}}">
        <input name="title" value="{{item.title}}"><br>
        <textarea name="text">{{item.text}}</textarea><br>
        <input type="submit" value="Update"><br>
      </form>

  </body>
</html>
